{% extends "layout.html" %}

{% block header %}
  {% include "v4/_header.html" %}
{% endblock %}

{% block pageTitle %}
  Create record confirmation
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  <a href="claimant-search" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <form id="form" method="post" action="email-confirmation">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Check the details before sending the invitation email</h1>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">National insurance number</th>
              <td class="govuk-table__cell">{{ data['search-3'] }}</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">First name</th>
              <td class="govuk-table__cell">Malcolm</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Last name</th>
              <td class="govuk-table__cell">Smith</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Email address</th>
              <td class="govuk-table__cell">mallcolm.smith.69@email.com</td>
              <td class="govuk-table__cell"><a href="create-record-2">Edit</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date of birth</th>
              <td class="govuk-table__cell">25 - 03 - 1997</td>
              <td class="govuk-table__cell"><a href="create-record-2">Edit</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Postcode</th>
              <td class="govuk-table__cell">BB21 1SA</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Mobile number</th>
              <td class="govuk-table__cell">07789665665</td>
              <td class="govuk-table__cell"><a href="create-record-2">Edit</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Service type offered</th>
              <td class="govuk-table__cell">Health questionnaire only &ndash; PIP 2</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Invitation email</th>
              <td class="govuk-table__cell">Last email sent on 01 November 2021 &ndash; 09:45:12</td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table>



        <input type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" value="Send invitation email" id="submit">

        <p><a href="pip-service-choice" class="govuk-link">Start again</a></p>

      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-row -->

  </form>
{% endblock %}

{% block footer %}
{% endblock %}
