{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  Create record confirmation
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  <a href="create-record" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <form id="form" method="post" action="create-confirmation">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-l">Check the details before saving the record</h1>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Keir Hodge
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="claimant-name">
                      Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Email address
                  </dt>
                  <dd class="govuk-summary-list__value">
                    keir.hodge101@email.com
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="claimant-email">
                      Change<span class="govuk-visually-hidden"> email address</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    National Insurance number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    XX 55 66 77 X
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="claimant-national-insurance-number">
                      Change<span class="govuk-visually-hidden"> national insurance number</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date of birth
                  </dt>
                  <dd class="govuk-summary-list__value">
                  19 April 1978
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="claimant-dob">
                      Change<span class="govuk-visually-hidden"> date of birth</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Postcode
                  </dt>
                  <dd class="govuk-summary-list__value">
                    LS3 3DD
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="claimant-postcode">
                      Change<span class="govuk-visually-hidden"> postcode</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Mobile number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    07777 777 777
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="claimant-mobile-number">
                      Change<span class="govuk-visually-hidden"> mobile number</span>
                    </a>
                  </dd>
                </div>
              </dl>

            <input type="submit" class="govuk-button" value="Save record and send email" id="submit">

          </div> <!-- govuk-grid-column-two-thirds -->
        </div> <!-- govuk-grid-row -->

  </form>
{% endblock %}

{% block footer %}
{% endblock %}
