{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  Create record confirmation
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  <a href="create-record" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <form id="form" method="post" action="create-confirmation">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-l">Check the details before saving the record</h1>

              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">First name</th>
                    <td class="govuk-table__cell">Richard</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Last name</th>
                    <td class="govuk-table__cell">Smith</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Email address</th>
                    <td class="govuk-table__cell">rich@email.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">National insurance number</th>
                    <td class="govuk-table__cell">AA 123456 A</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of birth</th>
                    <td class="govuk-table__cell">01 01 1990</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Postcode</th>
                    <td class="govuk-table__cell">LS1 1AA</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Mobile number</th>
                    <td class="govuk-table__cell">07777 777777</td>
                  </tr>
                </tbody>
              </table>

              <p><a href="create-record-2" class="govuk-link">Change</a></p>

              <input type="submit" class="govuk-button" value="Save record and send email" id="submit">

          </div> <!-- govuk-grid-column-two-thirds -->
        </div> <!-- govuk-grid-row -->

  </form>
{% endblock %}

{% block footer %}
{% endblock %}
