{% extends "layout.html" %}

{% block header %}
  {% include "v4/_header.html" %}
{% endblock %}

{% block pageTitle %}
  Claimant record
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <form id="form" method="post" action="email-confirmation">


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Claimant record</h1>

            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">National insurance number</th>
                  <td class="govuk-table__cell">SS123456S</td>
                  <td class="govuk-table__cell"></td>                 
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">First name</th>
                  <td class="govuk-table__cell">Elaine</td>
                  <td class="govuk-table__cell"></td> 
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Last name</th>
                  <td class="govuk-table__cell">Redd</td>
                  <td class="govuk-table__cell"></td> 
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Email address</th>
                  <td class="govuk-table__cell">elaine.red@email.com</td>
                  <td class="govuk-table__cell"><a href="create-record-2">Edit</a></td> 
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Date of birth</th>
                  <td class="govuk-table__cell">31 March 2000</td>
                  <td class="govuk-table__cell"></td> 
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Postcode</th>
                  <td class="govuk-table__cell">LS2 7UA</td>
                  <td class="govuk-table__cell"></td> 
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Mobile number</th>
                  <td class="govuk-table__cell">07777 777777</td>
                  <td class="govuk-table__cell"></td> 
                </tr>
               <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Invitation email</th>
                  <td class="govuk-table__cell">Last email sent on 01 March 2021 10:22:54</td>
                  <td class="govuk-table__cell"></td> 
                </tr> 
              </tbody>
            </table>

            <input type="submit" class="govuk-button" value="Send another email" id="submit">

            <p><a href="claimant-search" class="govuk-link">Search for another claimant</a></p>

          <div class="govuk-grid-column-one-third">

          </div> <!-- govuk-grid-column-one-third -->
        </div> <!-- govuk-grid-row -->

  </form>
{% endblock %}

{% block footer %}
{% endblock %}
