{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  Database error message
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}

{% endblock %}

{% block content %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Sorry, there is a problem</h1>

            <p>The record could not be saved due to a technical problem.</p>

            <a href="claimant-record" class="govuk-button">Try saving the record again</a>

            <p><a href="create-record" class="govuk-link">Cancel saving the record</a></p>

        </div> <!-- govuk-grid-column-two-thrids -->

      </div> <!-- govuk-grid-row -->

{% endblock %}

{% block footer %}
{% endblock %}
