{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  Failure error
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
{% endblock %}

{% block content %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Sorry, there is a problem</h1>

            <p>The invitation email was not sent. This is due to a technical problem with the service.</p>

            <p>Try sending the email again.</p>


            <a href="#" class="govuk-button">Send email</a>

            <p>If you keep seeing this error, email <a href="mailto:quarryhouse.applyforpip-techsupport@dwp.gsi.gov.uk?subject=Apply for PIP: invitation email not sent&body=I am unable to send invitaion emails. The error message is 'Sorry, there is a problem. The invitation email was not sent'.">quarryhouse.applyforpip-techsupport@dwp.gsi.gov.uk</a>.</p>

            <p><a href="/new-mvp/creat-record" class="govuk-link">Create a new record</a></p>

        </div> <!-- govuk-grid-column-two-thrids -->

      </div> <!-- govuk-grid-row -->

{% endblock %}

{% block footer %}
{% endblock %}
