{% extends "layout.html" %}

{% block header %}
{% include "v4/_header.html" %}
{% endblock %}

{% block pageTitle %}
Create claimant record
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<a href="pip-service-choice.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<form id="form" method="post" action="claimant-record">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      Service selected: Online full claim (PIP1 and PIP2) <br>
    <a class="govuk-notification-banner__link" href="pip-service-choice.html">Change service type</a>
  </p>


  </div>
</div>

      <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Enter claimant's details</h1>
      <!-- <h2 class="govuk-heading-s">PIP1 and PIP2</h2> -->
      <div class="govuk-form-group govuk-!-margin-top-8">
        <h2 name="#national-insurance-number" class="govuk-label-wrapper"><label class="govuk-label govuk-label--s"
            for="national-insurance-number">National Insurance number</label></h2>
        <input class="govuk-input govuk-input--width-10" id="national-insurance-number" name="national-insurance-number"
          type="text" aria-describedby="national-insurance-number-hint" spellcheck="false" value="{{ data['search-it4'] }}">
      </div> <!-- govuk-form-group -->

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="first-name-it4">
          First name
        </label>
        <div id="event-name-hint" class="govuk-hint">Include capital letters in the name where needed. For example,
          Janet.</div>
        <input class="govuk-input" id="first-name-it4" name="first-name-it4" type="text" spellcheck="false" autocomplete="name">
      </div> <!-- govuk-form-group -->

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="last-name-it4">
          Last name
        </label>
        <div id="event-name-hint" class="govuk-hint">Include capital letters in the name where needed. For example,
          Smith-Johnson.</div>
        <input class="govuk-input" id="last-name-it4" name="last-name-it4" type="text" spellcheck="false" autocomplete="name">
      </div> <!-- govuk-form-group -->

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="email-it4">
          Email address
        </label>
        <input class="govuk-input" id="email-it4" name="email-it4" type="email" spellcheck="false" aria-describedby="email-hint"
          autocomplete="email">
      </div> <!-- govuk-form-group -->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="dob">Date of birth</label>
            </h2>
            <!-- <label class="govuk-label" for="address-postcode">Date of birth</label> -->
          </legend>
          <div class="govuk-date-input" id="dob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group govuk-!-margin-top--4">
                <label class="govuk-label govuk-date-input__label" for="dob-day-it4">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day-it4" name="dob-day-it4"
                  type="text" autocomplete="bday-day" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-month-it4">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month-it4" name="dob-month-it4"
                  type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-year-it4">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year-it4" name="dob-year-it4"
                  type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div> <!-- govuk-form-group -->

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s"
            for="address-postcode-it4">Postcode</label></h2>
        <!-- <label class="govuk-label" for="address-postcode">Postcode</label> -->
        <input class="govuk-input govuk-input--width-10" id="address-postcode-it4" name="address-postcode-it4" type="text"
          autocomplete="postal-code">
      </div> <!-- govuk-form-group -->

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="mobile-it4">Mobile number</label>
        </h2>
        <!-- <label class="govuk-label" for="address-postcode">Mobile number</label> -->
        <input class="govuk-input govuk-input--width-10" id="mobile-it4" name="mobile-it4" type="text">
      </div> <!-- govuk-form-group -->

      <input type="submit" class="govuk-button" value="Save and continue" id="submit">
      <a href="claimant-search.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</a>


    </div> <!-- govuk-grid-column-two-thirds -->

    <div class="govuk-grid-column-one-third">

    </div> <!-- govuk-grid-column-one-third -->
  </div> <!-- govuk-grid-row -->

</form>
{% endblock %}

{% block footer %}
{% endblock %}
