{% extends "layout.html" %}

{% block header %}
{% include "v4/_header.html" %}
{% endblock %}

{% block pageTitle %}
PIP Apply service choice
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<a href="claimant-search.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form id="form" method="post" action="#">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Has the claimant completed the first stage (PIP1) over the phone?
                        </h1>
                    </legend>

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="pip-service-1" name="pip-service-10" type="radio"
                                value="yes">
                            <label class="govuk-label govuk-radios__label" for="pip-service-10">
                                Yes
                            </label>
                        </div> <!-- govuk-radios__item -->
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="pip-service-2" name="pip-service-10" type="radio"
                                value="no">
                            <label class="govuk-label govuk-radios__label" for="pip-service-10">
                                No
                            </label>

                        </div> <!-- govuk-radios__item -->
                    </div> <!-- govuk-radios -->

                </fieldset>
            </div> <!-- govuk-form-group -->

            <input type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" value="Continue"
                id="submit">

        </form>

    </div> <!-- govuk-grid-column-two-thirds -->
</div> <!-- govuk-grid-row -->


{% endblock %}

{% block footer %}
{% endblock %}