{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  Create record confirmation
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
{% endblock %}

{% block content %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Sorry, there is a problem</h1>
            <p>The email was not sent.</p>

            <a href="create-confirmation" class="govuk-button">Try again</a>

            <p>If you keep seeing this error, email <a href="mailto:XXXX@XXXX.com?subject=Email a PIP2 form – Notify error&body=There is an issue with the ‘Email a PIP2 form and the Notify service">[email address 1]</a>.</p>
        </div> <!-- govuk-grid-column-two-thrids -->

      </div> <!-- govuk-grid-row -->

{% endblock %}

{% block footer %}
{% endblock %}
