{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  Create record confirmation
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  <a href="create-record" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <form id="form" method="post" action="create-confirmation">

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-l">Check the details before saving the record</h1>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Wilma Flintstone
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="claimant-name">
                      Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Email address
                  </dt>
                  <dd class="govuk-summary-list__value">
                    wilma.flintstone@email.com
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="claimant-email">
                      Change<span class="govuk-visually-hidden"> email address</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    National Insurance number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    BB 24 68 10 B
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="claimant-national-insurance-number">
                      Change<span class="govuk-visually-hidden"> national insurance number</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date of birth
                  </dt>
                  <dd class="govuk-summary-list__value">
                    27 April 1974
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="claimant-dob">
                      Change<span class="govuk-visually-hidden"> date of birth</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Mobile number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    07777 777777
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="claimant-mobile-number">
                      Change<span class="govuk-visually-hidden"> mobile number</span>
                    </a>
                  </dd>
                </div>
              </dl>

            <input type="submit" class="govuk-button govuk-!-margin-top-6" value="Save record and send email" id="submit">

          </div> <!-- govuk-grid-column-two-thirds -->
        </div> <!-- govuk-grid-row -->
      </main>
    </div> <!-- govuk-width-container -->
  </form>
{% endblock %}

{% block footer %}
{% endblock %}

