{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  Claimant National Insurance number
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  <a href="check-your-answers" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <form id="form" method="post" action="check-your-answers">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="national-insurance-number">Claimants National Insurance number?</label></h1>
              <div class="govuk-form-group govuk-!-padding-bottom--6">
                <input class="govuk-input govuk-input--width-10" id="national-insurance-number" name="national-insurance-number" type="text" aria-describedby="national-insurance-number-hint" spellcheck="false">
              </div> <!-- govuk-form-group -->

            <input type="submit" class="govuk-button" value="Save and continue" id="submit">

          </div> <!-- govuk-grid-column-two-thirds -->

          <div class="govuk-grid-column-one-third">

          </div> <!-- govuk-grid-column-one-third -->
        </div> <!-- govuk-grid-row -->

  </form>

{% endblock %}
