{% extends "layout.html" %}

{% block pageTitle %}
  Claimant search
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
{% endblock %}

{% block content %}



  <form id="form" method="post" action="no-claimant-result">

    <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Claimant search</h1>
            <div class="govuk-form-group">
              <label class="govuk-label" for="full-name">
                Full name
              </label>
              <span id="full-name-hint" class="govuk-hint">Include capital letters in name where needed. <br>For example, Janet Smith-Johnson.</span>
              <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
            </div> <!-- govuk-form-group -->
            <div class="govuk-form-group">
              <label class="govuk-label" for="email">
                Email address
              </label>
              <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-hint" autocomplete="email" spellcheck="false">
            </div> <!-- govuk-form-group -->
            <input type="submit" class="govuk-button govuk-!-margin-top-6" value="Continue" id="submit">

          </div> <!-- govuk-grid-column-two-thirds -->

          <div class="govuk-grid-column-one-third">

          </div> <!-- govuk-grid-column-one-third -->
        </div> <!-- govuk-grid-row -->

      </main>
    </div> <!-- govuk-width-container -->
  </form>

{% endblock %}
