{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  Failure error
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Sorry, there is a problem</h1>

            <p>The change could not be saved because the email address exists on another record.</p>

            <p><a href="create-record-3" class="govuk-link govuk-link--no-visited-state">Go back</a> and check the email address.</p>

           <p>If you keep seeing this message ask the claimant to supply a different email address.</p> 

        </div> <!-- govuk-grid-column-two-thrids -->

      </div> <!-- govuk-grid-row -->

{% endblock %}

{% block footer %}
{% endblock %}
