{% extends "layout.html" %}

{% block header %}
  {% include "v4/_header.html" %}
{% endblock %}

{% block pageTitle %}
  Create record confirmation
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
{% endblock %}

{% block content %}
  <form id="form" method="post" action="claimant-search">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <div class="govuk-panel govuk-panel--confirmation">
              <h1 class="govuk-panel__title">
                Email sent to
              </h1>
              <div class="govuk-panel__body">
                {{ data['email'] }}
              </div>
            </div> <!-- govuk-panel -->
            <input type="submit" class="govuk-button govuk-!-margin-top-6" value="Back to search" id="submit">
          </div> <!-- govuk-grid-column-full -->

        </div> <!-- govuk-grid-row -->

  </form>
{% endblock %}

{% block footer %}
{% endblock %}
