{% extends "layout.html" %}

{% block header %}
  {% include "v4/_header.html" %}
{% endblock %}

{% block pageTitle %}
  Create record confirmation
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  <a href="create-record" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <form id="form" method="post" action="email-confirmation">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Claimant record</h1>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                National Insurance number
              </dt>
              <dd class="govuk-summary-list__value">
                XX XXXXXX X
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="create-record-2">
                  Change<span class="govuk-visually-hidden"> national insurance number</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                First name
              </dt>
              <dd class="govuk-summary-list__value">
                XXXX
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="create-record-2">
                  Change<span class="govuk-visually-hidden"> first name</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Last name
              </dt>
              <dd class="govuk-summary-list__value">
                XXXXXXXXXX
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="create-record-2">
                  Change<span class="govuk-visually-hidden"> last name</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
                XXXX.XXX@XXX.XXX
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="create-record-2">
                  Change<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                XX/XX/XXXX
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="create-record-2">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Postcode
              </dt>
              <dd class="govuk-summary-list__value">
                XXXX XXX
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="create-record-2">
                  Change<span class="govuk-visually-hidden"> postcode</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Mobile number
              </dt>
              <dd class="govuk-summary-list__value">
                XXXXX XXXXXX
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="create-record-2">
                  Change<span class="govuk-visually-hidden"> mobile number</span>
                </a>
              </dd>
            </div>

          </dl>

        <input type="submit" class="govuk-button" value="Send email" id="submit">

        <p><a href="claimant-search" class="govuk-link">Search for another record</a></p>

      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-row -->

  </form>
{% endblock %}

{% block footer %}
{% endblock %}
