
{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}

{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="/index-v1" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">User Research findings for PIP agents service prototype</h1>

      <h2 class="govuk-heading-m">Findings to follow</h2>

    </div> <!-- govuk-grid-column-two-thirds -->
</div> <!-- govuk-grid-row -->

{% endblock %}
