{% extends "layout.html" %}

{% block header %}
  {% include "v4/_header.html" %}
{% endblock %}

{% block pageTitle %}
  Create record confirmation
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  <a href="create-record" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <form id="form" method="post" action="#">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Check the details before sending the invitation email</h1>

        <h2 class="govuk-heading-m">Personal details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National insurance number
            </dt>
            <dd class="govuk-summary-list__value" name="national-insurance">
                  {{ data['national-insurance-number'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="create-record">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First name
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['first-name'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="create-record">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Last name
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['last-name'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="create-record">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['email'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="create-record">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['dob-day'] }} {{ data['dob-month'] }} {{ data['dob-year'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="create-record">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Postcode
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['address-postcode'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="create-record">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Mobile number
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['mobile'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="create-record">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Service type offered
            </dt>
            <dd class="govuk-summary-list__value">
              Online PIP2 only
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Last claim invitation email sent
            </dt>
            <dd class="govuk-summary-list__value">
              22 June 2022
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
        </dl>


        <!-- <p><a href="create-record-2" class="govuk-link">Change</a></p> -->

        <input type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" value="Send email" id="submit">

        <!-- <p><a href="pip-service-choice" class="govuk-link">Start again</a></p> -->

      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-row -->

  </form>

{% endblock %}

{% block footer %}
{% endblock %}
