{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  Claimant record
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  <a href="claimant-result-2" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <form id="form" method="post" action="/index-ur-scenarios">


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Ifan Ashton</h1>

            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                 <th scope="row" class="govuk-table__header">Claim date</th>
                 <td class="govuk-table__cell">1 August 2020</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Email address</th>
                  <td class="govuk-table__cell">ifan.ashton@email.com</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">National Insurance number</th>
                  <td class="govuk-table__cell">SS 11 22 33 S</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Date of birth</th>
                  <td class="govuk-table__cell">13 August 2001</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Postcode</th>
                  <td class="govuk-table__cell">LS4 4TT</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Mobile number</th>
                  <td class="govuk-table__cell">07777 444 444</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Invitation email</th>
                  <td class="govuk-table__cell">First invitation email sent on 2 August 2020</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"></th>
                  <td class="govuk-table__cell">Second invitation email sent on 4 August 2020</td>
                </tr>
              </tbody>
            </table>

            <h2 class="govuk-heading-m">Submitted documents</h2>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Submission date</th>
                  <th scope="col" class="govuk-table__header">Uploaded to DRS</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">No files submitted</td>
                  <td class="govuk-table__cell">No files uploaded to DRS</td>
                </tr>
              </tbody>
            </table>

            <input type="submit" class="govuk-button" value="Search for another claimant" id="submit">

          </div> <!-- govuk-grid-column-two-thirds -->

          <div class="govuk-grid-column-one-third">

          </div> <!-- govuk-grid-column-one-third -->
        </div> <!-- govuk-grid-row -->

  </form>
{% endblock %}

{% block footer %}
{% endblock %}
