
{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">Prototypes</h1>

      <h2 class="govuk-heading-m">Version 1</h2>

      <a href="index-v1" class="govuk-button">View prototype version 1</a>

    <!--  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Version 2</h2>

      <a href="index-v2" class="govuk-button">View prototype version 2</a> -->

    </div> <!-- govuk-grid-column-one-half -->
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">Reference screens</h1>

      <h2 class="govuk-heading-m">Reference screens for MVP</h2>
      <a href="index-reference-screens" class="govuk-button">View MVP screens</a>
    </div> <!-- govuk-grid=coloumn-one-half -->
</div> <!-- govuk-grid-row -->

{% endblock %}
