
{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="index" class="govuk-back-link">Back to main index</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">PIP agent screens</h1>

      <h2 class="govuk-heading-l">Prototypes for PIP agents UI service</h2>
      <p>Testing the support for new PIP Apply private beta</p>
     

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p><a href="/v7/option_1/new-existing-user" class="govuk-link">Scenario 1: </a></p>
      <p><a href="/v7/option_2/new-existing-user" class="govuk-link">Scenario 2: </a></p>
      <p><a href="/v7/option_3/new-existing-user" class="govuk-link">Scenario 3: </a></p>
      
      

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      
    </div> <!-- govuk-grid-column-two-thirds -->
</div> <!-- govuk-grid-row -->

{% endblock %}
