
{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="index" class="govuk-back-link">Back to main index</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">PIP agent screens</h1>

      <h2 class="govuk-heading-l">Prototypes for PIP agents UI service</h2>
      <p>Testing the reclaims journey</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h3 class="govuk-heading-m">Research session 13th October 2022</h3>
      <p><a href="/v11/reclaims/no-record/claimant-search" class="govuk-link">Reclaims - no record exists</a></p>
      <p><a href="/v11/reclaims/record-exists/claimant-search" class="govuk-link">Reclaims - record exists</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h3 class="govuk-heading-m">Research session 21st October 2022</h3>
      <p><a href="/v11/reclaims/option-one/claimant-search" class="govuk-link">Reclaims - Option 1</a></p>
      <p><a href="/v11/reclaims/option-two/claimant-search" class="govuk-link">Reclaims - Option 2</a></p>
      <p><a href="/v11/reclaims/option-three/claimant-search" class="govuk-link">Reclaims - Option 3</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m">Research session 2nd November 2022</h3>
      <p><a href="/v11/reclaims/option-four/claimant-search" class="govuk-link">Reclaims - Option 4</a></p>
      <p><a href="/v11/reclaims/option-five/claimant-search" class="govuk-link">Reclaims - Option 5</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m">Research session 9th November 2022</h3>
      <p><a href="/v11/reclaims/option-six/claimant-search" class="govuk-link">Reclaims - Option 6</a></p>
      <p><a href="/v11/reclaims/option-seven/claimant-search" class="govuk-link">Reclaims - Option 7</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </div> <!-- govuk-grid-column-two-thirds -->
</div> <!-- govuk-grid-row -->

{% endblock %}
