
{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">PIP agent screens</h1>

      <h2 class="govuk-heading-l">list of screens for PIP Apply staff service</h2>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      

    </div> <!-- govuk-grid-column-two-thirds -->
</div> <!-- govuk-grid-row -->

{% endblock %}
