
{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="index" class="govuk-back-link">Back to main index</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">PIP agent screens</h1>

      <h2 class="govuk-heading-l">Prototypes for PIP agents UI service</h2>
      <p>Testing the change email link options and messaging</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p><a href="/v5/new_claimant/claimant-search" class="govuk-link">New claimant journey</a></p>
     <!-- <p><a href="/v5/existing_claimant/claimant-search" class="govuk-link">Existing claimant journey</a></p> -->
      <p><a href="/v5/existing_claimant_change_email_option_1/claimant-search" class="govuk-link">Existing claimant change email - option 1</a></p>
      <p><a href="/v5/existing_claimant_change_email_duplicate_email_option_1/claimant-search" class="govuk-link">Existing claimant change email, but duplicate email exists - option 1</a></p>
      <p><a href="/v5/existing_claimant_change_email_option_2/claimant-search" class="govuk-link">Existing claimant change email - option 2</a></p>
      <p><a href="/v5/existing_claimant_change_email_duplicate_email_option_2/claimant-search" class="govuk-link">Existing claimant change email, but duplicate email exists - option 2</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <!-- <p><a href="index-list-of-screens-5" class="govuk-link">Full list of screens for the PIP Apply agent service</a></p>
     <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p><a href="index-screen-validation" class="govuk-link">Validation and error messages index</a></p> -->

    </div> <!-- govuk-grid-column-two-thirds -->
</div> <!-- govuk-grid-row -->

{% endblock %}
