
{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}
  <a href="index" class="govuk-back-link">Back to main Index</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">User research scenarios for 12th August</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="ur_scenarios/existing_claimant/claimant-search" class="govuk-link">Scenario #1</a>
        </li>
        <li>
          <a href="ur_scenarios/existing_claimant-2/claimant-search" class="govuk-link">Scenario #2</a>
        </li>
        <li>
          <a href="ur_scenarios/multiple_accounts/claimant-search" class="govuk-link">Scenario #3</a>
        </li>
        <li>
          <a href="ur_scenarios/multiple_accounts-2/claimant-search" class="govuk-link">Scenario #4</a>
        </li>
        <li>
          <a href="ur_scenarios/new_claimant/claimant-search" class="govuk-link">Scenario #5</a>
        </li>
        <li>
          <a href="ur_scenarios/new_claimant-2/claimant-search" class="govuk-link">Scenario #6</a>
        </li>
        <li>
          <a href="ur_scenarios/search_validation_errors_1/claimant-search" class="govuk-link">Scenario #7</a>
        </li>
        <li>
          <a href="ur_scenarios/search_validation_errors_2/claimant-search" class="govuk-link">Scenario #8</a>
        </li>
        <li>
          <a href="ur_scenarios/new_claimant_notify_error/claimant-search" class="govuk-link">Scenario #9</a>
        </li>
      </ul>

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-row -->

{% endblock %}
