
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">PIP agent screens</h1>

      <h2 class="govuk-heading-l">Prototypes for user interface (UI) screens for DWP PIP agents</h2>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p><a href="v1/new_claimant/claimant-search" class="govuk-link">New claimant - create a record</a></p>
      <p>V1 of creating a new claimant record</p>
      <p>Created 12 June 2020</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p><a href="v1/existing_claimant/claimant-search" class="govuk-link">Existing claimant</a></p>
      <p>V1 of exisitng claimant joureny</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>send another email</li>
        <li>view claimant record</li>
      </ul>
      <p>Created 15 June 2020</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">




    <!--   <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul> -->
    </div> <!-- govuk-grid-column-two-thirds -->
</div> <!-- govuk-grid-row -->

{% endblock %}
