
{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}
  <a href="index" class="govuk-back-link">Back to main Index</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">User research scenarios for [add date]</h2>

      <ol class="govuk-list govuk-list--number">
        <li>
          <a href="ur_scenarios/existing_claimant/claimant-search" class="govuk-link">Exisitng claimant - BF for assurance call, re-send invitation email</a>
        </li>
        <li>
          <a href="ur_scenarios/existing_claimant-2/claimant-search" class="govuk-link">Exisitng claimant - Enquiry line call, claimant hasn't received initial email, re-send invitation email</a>
        </li>
        <li>
          <a href="ur_scenarios/multiple_accounts/claimant-search" class="govuk-link">Exisitng claimant, BF for assurance call, multiple search returns, re-send invitation email</a>
        </li>
        <li>
          <a href="ur_scenarios/multiple_accounts-2/claimant-search" class="govuk-link">Exisitng claimant, Enquiry Line call, multiple search returns, re-send invitation email</a>
        </li>
        <li>
          <a href="ur_scenarios/new_claimant/claimant-search" class="govuk-link">Exisitng claimant, BF for assurance call, no record found, create new record, send inviation email</a>
        </li>
        <li>
          <a href="ur_scenarios/new_claimant-2/claimant-search" class="govuk-link">Receive new claimant list, create new record, send invitation email</a>
        </li>
        <li>
          <a href="ur_scenarios/search_validation_errors_1/claimant-search" class="govuk-link">Validation error on claimant search, incorrect email format #1</a>
        </li>
        <li>
          <a href="ur_scenarios/search_validation_errors_2/claimant-search" class="govuk-link">Validation error on claimant search, incorrect email format #2</a>
        </li>
        <li>
          <a href="ur_scenarios/new_claimant_notify_error/claimant-search" class="govuk-link">Receive new claimant list, create new record, Notify email error</a>
        </li>
      </ol>

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-row -->

{% endblock %}
