
{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">Prototypes</h1>

      <h2 class="govuk-heading-m">Version 1</h2>
      <a href="index-v1" class="govuk-button">View prototype version 1</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Version 2</h2>
      <a href="index-v2" class="govuk-button">View prototype version 2</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Version 3 - MVP</h2>
      <a href="index-v3" class="govuk-button">View prototype version 3</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Version 4</h2>
      <a href="index-v4" class="govuk-button">View prototype version 4</a>

      <!-- <h2 class="govuk-heading-m">Version 5</h2>
      <a href="index-v5" class="govuk-button">View prototype version 4</a> -->

    </div> <!-- govuk-grid-column-one-half -->
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">Reference screens</h1>

      <h2 class="govuk-heading-m">Reference screens for MVP</h2>
      <a href="index-reference-screens" class="govuk-button">View MVP screens</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Reference screens post MVP - iteration 1</h2>
      <p class="govuk-body">Changes include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Adding a 'Search' feature</li>
          <li>Enabling the agents to by-pass the 'Search' and create a new record</li>
        </ul>
      <a href="index-reference-screens-it-1" class="govuk-button">View screens</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Reference screens post MVP - iteration 2</h2>
    <p class="govuk-body">Changes include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Removing the by-pass 'Search' link</li>
        <li>Adding a 'Cancel' saving record button</li>
        <li>Adding error pages for duplicate emails and NINo's</li>
      </ul>
      <a href="index-reference-screens-it-2" class="govuk-button">View screens</a>
    </div> <!-- govuk-grid=coloumn-one-half -->
  </div> <!-- govuk-grid-row -->

{% endblock %}
