
{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="index-reference-screens" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Validation messages for PIP agent UI screens</h2>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="reference_screens/validation_errors/new-claimant-search-validation-errors" class="govuk-link">Claimant search validation errors</a></li>
        <li><a href="reference_screens/validation_errors/new-claimant-create-validation-errors" class="govuk-link">New claimant create a record validation errors</a></li>
        <li><a href="reference_screens/validation_errors/new-claimant-cya-name-validation" class="govuk-link">Check your answers validation errors: Name</a></li>
        <li><a href="reference_screens/validation_errors/new-claimant-cya-email-validation" class="govuk-link">Check your answers validation errors: Email</a></li>
        <li><a href="reference_screens/validation_errors/new-claimant-cya-nino-validation" class="govuk-link">Check your answers validation errors: National Insurance number</a></li>
        <li><a href="reference_screens/validation_errors/new-claimant-cya-dob-validation" class="govuk-link">Check your answers validation errors: Date of birth</a></li>
        <li><a href="reference_screens/validation_errors/new-claimant-cya-postcode-validation" class="govuk-link">Check your answers validation errors: Postcode</a></li>
        <li><a href="reference_screens/validation_errors/new-claimant-cya-mobile-number-validation" class="govuk-link">Check your answers validation errors: Mobile number</a></li>
      </ul>

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-row -->

{% endblock %}
