
{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}
  <a href="index" class="govuk-back-link">Back to main Index</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h2 class="govuk-heading-l">Validation messages for PIP agent UI screens</h2>


      <p><a href="v1/validation_errors/new-claimant-search-validation-errors" class="govuk-link">New claimant search validation errors</a></p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p><a href="v1/validation_errors/new-claimant-create-validation-errors" class="govuk-link">New claimant create a record validation errors</a></p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p><a href="v1/validation_errors/new-claimant-cya-name-validation" class="govuk-link">Check your answers validation errors: Name</a></p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p><a href="v1/validation_errors/new-claimant-cya-email-validation" class="govuk-link">Check your answers validation errors: Email</a></p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p><a href="v1/validation_errors/new-claimant-cya-nino-validation" class="govuk-link">Check your answers validation errors: National Insurance number</a></p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p><a href="v1/validation_errors/new-claimant-cya-dob-validation" class="govuk-link">Check your answers validation errors: Date of birth</a></p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p><a href="v1/validation_errors/new-claimant-cya-postcode-validation" class="govuk-link">Check your answers validation errors: Postcode</a></p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p><a href="v1/validation_errors/new-claimant-cya-mobile-number-validation" class="govuk-link">Check your answers validation errors: Mobile number</a></p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p><a href="v1/validation_errors/existing-claimant-search-error-screens" class="govuk-link">Existing claimant search validation errors</a></p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p><a href="v1/validation_errors/existing-claimant-result-error-screen" class="govuk-link">Existing claimant search result validation error</a></p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-row -->

{% endblock %}
