{% extends "layout.html" %}

{% block pageTitle %}
  Claimant record
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  <a href="claimant-result" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <form id="form" method="post" action="claimant-search">

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Wilma Flinstone</h1>

            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">National Insurance number</th>
                  <td class="govuk-table__cell">BB 24 68 10 B</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Date of birth</th>
                  <td class="govuk-table__cell">27 April 1974</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Email address</th>
                  <td class="govuk-table__cell">wilma.flintstone@emaill.com</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Mobile number</th>
                  <td class="govuk-table__cell">07777 777 777</td>
                </tr>
              </tbody>
            </table>

            <h2 class="govuk-heading-m">Claimant documents</h2>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Submission date</th>
                  <th scope="col" class="govuk-table__header">Uploaded to DRS</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">10 June 2020</td>
                  <td class="govuk-table__cell">10 June 2020</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">12 June 2020</td>
                  <td class="govuk-table__cell">Error upload failed</td>
                </tr>
              </tbody>
            </table>

            <input type="submit" class="govuk-button govuk-!-margin-top-6" value="Search for another claimant" id="submit">

          </div> <!-- govuk-grid-column-two-thirds -->

          <div class="govuk-grid-column-one-third">

          </div> <!-- govuk-grid-column-one-third -->
        </div> <!-- govuk-grid-row -->
      </main>
    </div> <!-- govuk-width-container -->
  </form>
{% endblock %}
