{% extends "layout.html" %}

{% block header %}
  {% include "v1/_header.html" %}
{% endblock %}

{% block pageTitle %}
  Claimant date of birth
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  <a href="/index-screen-validation" class="govuk-back-link">Back to validation index screen</a>
{% endblock %}

{% block content %}

  <form id="form" method="post" action="#">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
              <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#dob-day-1">Enter the claimants date of birth</a>
                  </li>
                </ul>
              </div> <!-- govuk-error-summary__body -->
            </div> <!-- govuk-error-summary -->

            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="dob-day-1">Claimants date of birth</label></h1>
            <div class="govuk-form-group govuk-form-group--error">
              <span id="passport-issued-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter the claimants date of birth
              </span>
              <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
                <div class="govuk-date-input" id="dob">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-day-1">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="dob-day-1" name="dob-day-1" type="text" autocomplete="bday-day" pattern="[0-9]*" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-input--error" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div> <!-- govuk-form-group -->

            <input type="submit" class="govuk-button" value="Save and continue" id="submit">

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
              <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#dob-day-2">Enter a valid date of birth</a>
                  </li>
                </ul>
              </div> <!-- govuk-error-summary__body -->
            </div> <!-- govuk-error-summary -->

            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="dob-day-2">Claimants date of birth</label></h1>
            <div class="govuk-form-group govuk-form-group--error">
              <span id="passport-issued-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter a valid date of birth
              </span>
              <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
                <div class="govuk-date-input" id="dob">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-day-2">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="dob-day-2" name="dob-day-2" type="text" autocomplete="bday-day" pattern="[0-9]*" inputmode="numeric" value="34">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric" value="13">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-input--error" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric" value="2045">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div> <!-- govuk-form-group -->

            <input type="submit" class="govuk-button" value="Save and continue" id="submit">

          </div> <!-- govuk-grid-column-two-thirds -->

          <div class="govuk-grid-column-one-third">

          </div> <!-- govuk-grid-column-one-third -->
        </div> <!-- govuk-grid-row -->

  </form>

{% endblock %}

{% block footer %}
{% endblock %}
